@model IEnumerable<ShoppingCart_webApp.Models.Master_Product>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ckeditor/ckeditor.js"></script>

<style>
	* {
		margin: 0px;
		padding: 0px;
	}

	body {
		background: #accdc3;
	}

	ul {
		list-style-type: none;
	}

		ul li {
			height: 50px;
			width: 150px;
			background: black;
			float: left;
			text-align: center;
		}

			ul li a {
				text-decoration: none;
				line-height: 50px;
				font-size: 22px;
				font-weight: bold;
				color: white
			}

				ul li a:hover {
					background: aqua;
					color: black;
					display: block;
					text-decoration: none;
				}

		ul ul {
			display: none;
		}

		ul li:hover > ul {
			display: block;
		}

		ul ul ul {
			margin-left: 150px;
			margin-top: -50px;
		}
</style>
<body>

<ul>
	<li><a href="/home/Index"/>CATEGORY</li>
	<li><a href="/home/ProductPage" />PRODUCT</li>
	<li><a href="#" />CUSTOMER</li>
</ul>

<div class ="mt-3 text-danger" style="display:flex; justify-content:center;">
<h3>Add Product</h3>
</div>


<button class="btn btn-info mb-3 float-end" data-toggle="modal" data-target="#Modal">Add New Product</button>
<table class="table">
	<thead>
		<tr>
			<th>ProductName</th>
			<th>ProductPrice</th>
			<th>ProductDesc</th>
			<th>IsActive</th>
			<th>EntryDate</th>
			<th>ProductImage</th>
			<th>CategoryName</th>
			<th>Edit</th>
			<th>Delete</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item._ProductName</td>
				<td>@item._ProductPrice</td>
				<td>@item._ProductDesc</td>
				<td>@item._IsActive</td>
				<td>@item._EntryDate</td>
				<td>@item._ProductImage</td>
				<td>@item._CategoryName</td>
				<td><button id="CategoryUpdate" class="btn btn-primary" onclick="updateCategory('@item._Id')">Edit</button></td>
				<td><button id="CategoryDelete" class="btn btn-danger" onclick="deleteCategory('@item._Id')">Delete</button></td>
			</tr>
		}

	</tbody>
</table>

<div class="modal" id="Modal">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="text-black" id="Update">Add Product</h5>
				<button class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
				<div class="modal-body bg-dark text-info">
				<div class="modal-body">
					<form method="post">
						<input type="hidden" id="IdForUpdateCategory" />

						<div class="form-group">
							<label for="categoryName">Product Name:</label>
								<input type="text" class="form-control" id="categoryName" name="categoryName" />
						</div>

						<div class="form-group">
							<label for="productprice">Product Price:</label>
								<input type="text" class="form-control" id="productName" name="product_price" />
						</div>
							<div class="form-group">
								<label for="productDesc">Product Description:</label>
								<textarea name="productDesc" id="productDesc" class="form-control" style="resize: none;"></textarea>
							</div>

							<script type="text/javascript">
								CKEDITOR.replace('productDesc');
							</script>

						<div class="form-group">
							<label for="IsActive">IsActive:</label>
								<input type="checkbox" id="isActive" name="isActive" value="">

						</div>
						<div class="form-group">
							<label for="ProductImage">Product Image:</label>
							<input type="file" class="form-control" id="productImage" name="productImage" />

						</div>

						<div class="form-group">
							<b>Category Name</b><br />
							<select name="dept_id" class="form-control my-2" id="Category_Name" oninput="validationdepartment()" onchange="Getdesignation()" style="border:2px solid grey">
								<option selected disabled>Select Department</option>
								@if (Model != null)
								{
									foreach (var data in Model)
									{
										<option value="@data._CategoryId">@data._CategoryName</option>
									}
								}

							</select>
						</div>
							<input type="button" id="AddProduct" value="Add Category" class="btn btn-success" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script>

	$(document).ready(function () {
		$("#AddProduct").click(function () {
			var _CategoryId = $("#categoryName").val();
			var _productName = $("#productName").val();
			var _productPrice = $("#productPrice").val();
			var _IsActive = $("#isActive").prop("checked");
			var _productImage = $("#productImage").val();
			var _productDesc = CKEDITOR.instances.productDesc.getData();
			if (_productDesc == null || _productDesc == "") {
				alert("plz fill the dec of product");
				return;
			}
			var obj = { 
			"_CategoryId": _CategoryId,
			"_ProductName": _productName,
			"_ProductPrice": _productPrice,
			"_IsActive": _IsActive,
			"_ProductImage": _productImage,
			"_ProductDesc": _productDesc,
			}

			$.ajax({
				url: '/home/productPage',
				type: 'post',
				data: obj
				dataType: 'json',
				success: function (res) {
					alert("Product Inserted");
					
					setTimeout(function () {
						location.reload();
					},);
				}


			});



		});

	})
	
</script>
